@charset "UTF-8";

@charset "UTF-8";

html, body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.entire {
    background-color: white;
    height: 700px;
    font-family: 나눔고딕;
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    right: 430px;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;    /* 세로 중앙 정렬 */
    margin: 0;
    position: relative;
    margin-top: 50px;
    flex-direction: row;
    gap: 10px;
}

.content1, .content2 {
    width: 500px;
    height: 300px;
    border: 1px solid lightgray;
    background-color: white;
    border-top: 3px solid #2763ba;
}

.text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 20px;
    margin-left: 30px;
}

h3 {
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 30px;
}

.Btn, .btn{
	display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 40px;
	
}

.Btn input{
	width: 220px;
    height: 45px;
    font-size: 18px;
    font-family: 나눔고딕;
    background-color: white;
    padding: 10px;
}

.btn input {
	width: 400px;
    height: 45px;
    font-size: 18px;
    font-family: 나눔고딕;
    background-color: white;
    padding: 10px;
}

.Btn1, .Btn2, .Btn3 {
	border: 1px solid lightgray;
}

.Btn2 {
	border-left: none;
}


