@charset "UTF-8";

html, body {
	padding: 0;
    margin: 0;
    /*height: 100%;
    overflow: hidden;	/*스크롤바를 숨기기 위해 */
    display: flex;
    flex-direction: column;
    /*	스크롤 X  => height,overflow 작성
		스크롤 O  => height,overflow 삭제 	*/
}

header {
	padding: 5px;	
}

header ul {
	padding-left: 40px;
    margin-top: 16px;
    width: 250px;
    height: 21px;
}

nav {
    height: 71px;
    padding-top: 10px;
}

nav ul {
	margin-top: 16px;
}
#hspt {
	position: relative;
	left: 120px;
}
.entire {
	background-color: #f3f3f3;
}

.container {
    display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;    /* 세로 중앙 정렬 */
    margin: 0;        /* 섹션 요소와의 간격 설정 */   
    position: relative;
    margin-top: 100px;
}

.wrap1 {
	display: flex;
}

.wrap2 {
	display: flex;
}

.container p {
	
	display: inline;
	margin: 0 0 0 400px;
	font-size: 30px;
	font-weight: bold;
	padding: 0;
	margin-left: 0px;
	
}

.container img {
	
	display: inline;
	float: right;
	margin-left: 600px;
	margin-right: -40px;
	
}

.container1 {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;    /* 세로 중앙 정렬 */
    margin: 1% 0;        /* 섹션 요소와의 간격 설정 */   
}

.content1 {
	background-color: white;
	border: 5px solid #2763ba;
	width: 700px;
    height: 270px;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

#rv{
	padding: 0px;
	position: relative;
	top: 10px;
}


#rv1 {
	position: relative;
	padding-left: 0px;
	top: 0px;
}
#rv1>li{
	float: left;
    height: 38px;
    margin-right: -1px;
    padding: 0 12px;
    border: 1px solid lightgray;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    list-style: none;
    position: relative;
    font-family: 나눔고딕;
    width: 120px;
    justify-content: center;
}

#rv1 > li > a {
    color: gray; /* 링크 글씨 색깔을 흰색으로 변경 */
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
}

/*	-------------------------------------------------	*/


#rv2, #rv4, #rv5, #rv6 {
	position: relative;
	padding-left: 0px;
	top: 10px;
}
#rv2>li{
	float: left;
    height: 38px;
    margin-right: -1px;
    padding: 0 12px;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    list-style: none;
    position: relative;
    font-family: 나눔고딕;
    width: 120px;
}

#rv2 > li > a {
    color: gray; /* 링크 글씨 색깔을 흰색으로 변경 */
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
}

.content2 {
	background-color: #2763ba;
	border: 5px solid #2763ba;
	width: 250px;
    height: 270px;
    margin: 10px;
    padding: 20px;
    color: white;
    font-family: 나눔고딕;
    justify-content: center;
    margin-bottom: 0px;
}

#check {
	color: white;
    font-weight: bold;
    font-size: 20px;
}

#rv3 {
	position: relative;
	padding-left: 0px;
}
#rv3>li{
	float: left;
    margin-right: 10px;
    text-align: center;
    border: 1px solid white;
    line-height: 38px;
    list-style: none;
    position: relative;
    font-family: 나눔고딕;
    justify-content: center;
    width: 90px;
    height: 30px;
    text-align: center;
    position: relative;
    
}

#rv3 > li > a {
    color: white; /* 링크 글씨 색깔을 흰색으로 변경 */
    text-decoration: none;
    font-size: 13px;
    padding: 5px;
    position: relative;
    bottom: 5px;
    
}

.container2 {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;    /* 세로 중앙 정렬 */
    margin: 1% 0;        /* 섹션 요소와의 간격 설정 */   
}

.container3 {
    display: display;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: flex-start;    /* 세로 중앙 정렬 */
    margin: 1% 0;        /* 섹션 요소와의 간격 설정 */   
}

.wrap3, .wrap4	{
    display: flex;
}

.wrap4 {
	flex-direction: column;
}

.content3 {
	background-color: white;
	width: 710px;
    height: 735px;
    padding: 20px;
    font-family: 나눔고딕;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    right: 10px;
}

.content3 h2 {
	margin-left: 30px;
	font-size: 30px;
}

.box3 {
	width: 650px;
	height: 580px;
	margin: 20px 0px 20px 30px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 15px;
	padding-left: 0px;
	
}

.doctor {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.op1 {
	display: flex;
	margin-right: 15px;
	margin-top: 15px;
}

.op2 {
	display: flex;
	margin-right: 0px;
	margin-top: 15px;
	

}

.box3 img {
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.box3 input {
	align-self: flex-start; /* 버튼을 왼쪽으로 정렬 */
	margin-top: 20px; /* 버튼 위에 여백 추가 */
	width: 115px;
	height: 40px;
	border: 1px solid black;
	background-color: white;
	font-size: 15px;
	
}

.inform{
	font-family: 나눔고딕;
	font-size: 20px;
	position: relative;
	margin-top: 20px;
}

.inform p{
	font-family: 나눔고딕;
	font-size: 13px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.content4 {
	background-color: white;
	margin-top: 0px;
	width: 250px;
    height: 590px;
    padding: 25px;
    font-family: 나눔고딕;
    justify-content: center;
    align-items: flex-start;
}

.content4 h3 {
	font-size: 20px;
	margin: 0px;
	margin-bottom: 20px;
}


.text {
	color: #7a7a7a;
	justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    margin-top: 200px;
}

.wrap4 > .content5 {
	background-color: #2763ba;
	margin-top: 0px;
	width: 260px;
    height: 85px;
    padding: 20px;
    color: white;
    font-family: 나눔고딕;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    margin-bottom: 0px;
    margin-top: 10px;
}

.content5 input{
	background-color: #2763ba;
	margin-top: 0px;
	width: 255px;
    height: 90px;
    padding: 20px;
    color: white;
    font-family: 나눔고딕;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    border: none;
    font-size: 25px;
}

